.container{
    max-width: 1000px;
    background: #D9D9D9;
    padding: 44px 50px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    svg{
        margin-left: clamp(20px, 2vw, 100px);
    }
    .route_button{
        font-size: clamp(11px, 1.5vw, 18px);
        margin-right: clamp(11px, 1.5vw, 25px);
        &:last-child{
            margin-right: 0;
        }
    }
}